{% extends "template.html" %}

{% block title %} About {% endblock title %}

{% block body_title %} About Us {% endblock body_title %}

{% block content %}
	<center>

	<br> 
	<h2> The Team </h2> 
	<br>

	<table> 
	<tr>
		<td> William Xiang </td>
		<td> Yikai Wang </td>
		<td> Wen Zeng </td>
		<td> Henry Zhang </td>
		<td> Winnie Wong </td>
		<td> Chang Ju Kim </td>
	</tr>
	</table>
	
	<br>
	<br>
	<br> 
	<h2> Our Inspiration </h2>
	<br>
	<br>

	<p> Our group initially came up with this idea when we saw an amber alert. It doesn't seem so, 
	but our lives are surrounded by constant danger. This warning opened our eyes to the possible dangers around us. 
	There were more than 20,000 cases of missing children in just New York, and 3000 of those were still considered open. 
	It is a staggering number, and we decided to do what we can to lower it. Thus, we decided to create sol-route. </p> <br>

	<h2> The Program </h2>
	<br>
	<p> Our Program uses Python, HTML, CSS, Google Maps API, along with the PyCloud API.<p>

	<h2> Languages Used </h2><br>

	<p> Python, Javascript, HTML </p>
	
	<h2> Frameworks Used </h2><br>

	<p><a href="http://flask.pocoo.org/docs/0.10/" > Flask </a></p>
	
	</center>
	
{% endblock content %}



