{% extends "template.html" %}

{% block title %} SolRoute: Travel Safely {% endblock title %}

{% block body_title %} 
	{{ body_title }} 
{% endblock body_title%}

{% block content %}
Our web application will better ensure the safety of the children. 
Children are vulnerable to all kinds of threats while walking alone, from kidnappings to road accidents. 
Although street safety is never guaranteed, accidents can be prevented.
<br>
This website tracks your children's location and sends alerts, which can prevent such accidents.
(An iCloud account is required.)
{% endblock content %}
