<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.css"  media="screen,projection"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <style>
      html, body {
        margin: 0;
        padding: 10px;
      }
    </style>

    <title>
      Displaying general information...
    </title>

  </head>


  <body>
    <b>Latitude:</b> {{ lat }}
    <br>
    <b>Longitude:</b> {{ lng }}
    <br>
    <b>Origin:</b> {{ origin }}
    <br>
    <b>Destination:</b> {{ destination }}
    <br>
    <b>Device Information:</b> {{ deviceInfo }}
    <br>
  </body>

</html>
