<!DOCTYPE html>

<html>
  <head>
    <title>We made it, frens!</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

      body {
      background-image: url("/static/background.png");
      background-size: cover;
      }
      
      p {
      font-size: 2em;
      padding-top: 170px;
      margin-left: 50px;
      margin-right: 50px;
      white-space: pre-wrap;
      font-family: 'Gloria Hallelujah', cursive;
      }
    </style>
  </head>

  <body>
    <p id="quote">
      I wanted to say much more than I could fit in the 156 characters allotted in the yearbook, so this'll have to do:

I arrived to Stuyveant High School as a turtle.
      <img src="/static/turtle.png">
      This was not just because I was really slow to catch onto stuff (or because I fw Netlogo), but also because my transition to high school had retreated me so far into my shell that my field of vision had been reduced to a single speck of light. At a school like Stuy, however, I find that worldview and mindset hard to sustain for long.

      Enter amazingly supportive friends and staff (highkey shoutouts to the CS dept), and although I can't wholeheartedly say that I'm not leaving Stuy with any of the regrets I've accrued throughout my four years, what I'm definitely leaving with is four years of memories I wouldn't have had laid out any other way, and which I can forever look back on with tidings of nostalgia.

Now I'm a koala.
      <img src="/static/koala.png">
I'm still painfully slow, but I've been exposed to the wilderness of life.
I've also forgotten how to swim.
      
Thank you, Stuyvesant.

- WX
    </p>
  </body>

</html>
